/*----------INITIALIZE STYLES----------*/
// Variables
:root
    --primary: rgb(8, 108, 226)
    --secondary: rgb(254, 115, 186)
    --tertiary: rgb(43, 27, 136)
    --accent: rgb(3, 192, 144)
    --font: rgb(22, 19, 44)
    --fontBox: rgb(33, 28, 82)
    --fontBox2: rgb(23, 20, 54)
    --text: #ffffff
    --textAccent: rgb(255, 228, 75)
    --fontOpacity: 0.50
    --boxRadius: 15px
// General
:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif

/*-------------------------------------*/
// GENERAL
html
    background-color: var(--font)
body
    position: relative
    height: 100%
    user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    color: var(--text)
    background-color: var(--font)

a
    color: var(--text)

/*------------------------------------*/
// ESPECIAL
.flex
    display: flex

.w-100
    width: 100%

.h-100
    height: 100%

.flex-center
    display: flex
    justify-content: center
    align-items: center

.flex-column
    display: flex
    flex-direction: column

.align-center
    display: flex
    justify-content: start
    align-items: center

.gap-15
    gap: 15px

/*------------------------------------*/
// LAYOUT
.layout
    position: relative
    background-color: var(--font)
    color: var(--text)

/*------------------------------------*/
// SIDEBAR
.sidebar
    padding: 20px 15px 20px 18px
    background-color: var(--fontBox)
    position: fixed
    right: 0
    top: 104px
    border: 1px solid var(--font)
    border-radius: var(--boxRadius) 0 0 var(--boxRadius)
    color: var(--text)
    z-index: 99

.nav nav
    display: flex
    flex-direction: column
    gap: 15px
    
    a
        font-size: 27px
        &:hover
            svg
                color: var(--secondary)
            cursor: pointer

/*------------------------------------*/
// UPBAR
.logo
    width: 80px
    
.upbar
    width: 100%
    padding: 15px 30px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10px

/*------------------------------------*/
// MAIN
.layout-content
    display: flex
    flex-direction: column
    width: 100%
    height: 100%

.main
    padding: 10px 80px 150px 30px
    min-height: 100%

.content
    display: flex
    gap: 15px
    flex-wrap: wrap

    @media (max-width: 768px)
        padding-bottom: 80px

/*------------------------------------*/
// OBJECTS
.box
    background-color: var(--fontBox)
    border-radius: var(--boxRadius)
    padding: 40px

    .content
        display: flex
        justify-content: flex-start
        align-items: flex-start
        width: 100%

        @media (max-width: 768px)
            .element
                width: 100%

.button
    background-color: var(--fontBox)
    padding: 12px
    border-radius: var(--boxRadius)
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    color: var(--text)

    &:hover
        background-color: var(--primary)

.folder, .file
    background-color: var(--fontBox2)
    border: 2px solid var(--fontBox2)
    padding: 12px 20px
    border-radius: var(--boxRadius)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    gap: 2px
    width: 150px

    @media (max-width: 768px)
        flex-direction: row
        justify-content: start
        align-items: center
        gap: 10px
        padding: 0 17px 5px

        span
            margin-top: 6px

    .options
        position: absolute
        top: 8px
        right: 5px

        .options-elipsis
            color: var(--primary)
            padding: 5px 3px
            border-radius: var(--boxRadius)

            &:hover,&:active,&:focus,&:visited,&:link
                background-color: var(--fontBox)
                color: var(--accent)
        
        ul li a
            display: flex
            gap: 5px
            align-items: center
            justify-content: flex-start
            padding: 2px 5px

        @media (max-width: 768px)
            top: 15px

    &:hover
        background-color: var(--tertiary)
        cursor: pointer

    .icon
        font-size: 40px
        color: var(--primary)
    
    .icon.pink
        color: var(--secondary)
    
    .icon.green
        color: var(--accent)
    
    .title
        white-space: nowrap
        overflow: hidden
        text-overflow: ".."
        display: block
        max-width: 100%
        font-size: 11pt

        @media (max-width: 768px)
            max-width: 78%

.file
    background-color: var(--fontBox)

//Sidebar mobile
@media (max-width: 768px)
    .sidebar
        padding: 10px
        background-color: var(--fontBox)
        position: fixed
        top: inherit
        right: 0
        bottom: 0
        border: 2px solid var(--font)
        border-radius: 0
        width: 100%

        .nav nav
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-around
            gap: 15px

    .main
        padding: 10px 30px 110px 30px

    .content
        gap: 10px

    .box
        padding: 20px

    .btn
        padding: 10px
/*------------------------------------*/
.dropdown-menu
    background-color: var(--primary) !important
    border-radius: var(--boxRadius) !important
    border: 2px solid var(--fontBox) !important
    padding: 10px 8px !important

    a
        color: var(--text) !important
        border-radius: var(--boxRadius) !important
        &.red
            color: var(--tertiary) !important

        &:hover
            background-color: var(--secondary) !important
            
/*------------------------------------*/
// ESPECIAL CLASS
.min-100
    min-height: 100%